body{
    margin:0;
    padding:0;
  
}


.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.logo img{
    width: 33%;
    border: 3px solid white;
   
    border-radius: 50px;
}
.navbar{
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
 
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px ;
}
.nav-list li a{
    padding-right: 10px;
    text-decoration: none;
    color:black;
}
.rightnav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.sm{
    text-decoration: none;
    position: relative;
    top: -5px;
    right: -500px;
    font-weight: bold;
    color: black;
}
.btn{
position: relative;
 color: black;
 border: 4px solid greenyellow;
 border-radius: 70px;
 right: -530px;
 bottom: 5px;
 font-size: 15px;
 font-weight: bold;
 background: greenyellow;
}
.btn2{
    position: relative;
     color: black;
     border: 4px solid greenyellow;
     border-radius: 70px;
     left: 1300px;
     top: 300px;
     font-size: 15px;
     font-weight: bold;
     background-color: greenyellow;
}    

.main2 .my h1{
    position:relative;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding-right: 1100px;
    left: 20px;
    top: 100px;
    font-size: 35px;
    color: green;
}
.main2 .my img{
    position: absolute;
    padding-left: 800px;
}
.main2 .my p{
    position:relative;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding-right: 1055px;
    top: 100px;
    font-size: 20px;
    color: green;
} 
.ds{
    height: 20px;
    width: 600px;
    border-radius: 20px;
    padding-left: 40px;
    margin-top: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
}

.vid{
   padding-left: 350px;
}


.box h2{
    top: 50px;
    position: relative;
    height: 20px;
    width: 500px;
    border-radius: 20px;
    background-color: yellow;
    margin-left: 975px;
    padding-left: 290px;
    padding-bottom: 10px;
    margin-top: 200px;
    right:190px;
} 
.vid2{
    padding-left: 650px;
     padding-top: 70px;
}

.gh{
    height: 20px;
    width: 600px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
}
.ak{
    margin-left: 50px;
    font-size: 40px;
    color: rgb(119, 235, 243);
}
.don{
    position: relative;
    height: 700px;
    width: 900px;
    left: 670px;
    bottom: 90px;
}

.btn3{
    position: relative;
     color: black;
     border: 4px solid greenyellow;
     border-radius: 70px;
     left: -630px;
     bottom: 40px;
     font-size: 15px;
     font-weight: bold;
     background-color: greenyellow;
    }

    .fot p{
        position: relative;
        margin-left: 850px;
        bottom: 90px;
        font-size: 20px;
    }

    .tr{
        position: relative;
        background-color: aquamarine;
        height: 1000px;
        width: 1595px;
        
    }
    .tr h4{
        top: 30px;
        position: relative;
        height: 20px;
        width: 600px;
        border-radius: 20px;
        padding-left: 90px;
        margin-top: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        left: 885px;
        background-color: yellow;
    }
    .tr img{
        position: relative;
        left: 260px;
        bottom: 200px;
    }
    .ty h5{
        height: 20px;
        width: 600px;
        border-radius: 20px;
        padding-left: 70px;
        margin-top: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: yellow;
        font-size: 20px;
    }
    .ty img{
        height: 250px;
        width: 600px;
        position: relative;
        left: 100px;
    }

    .btn4{
        position: relative;
         color: black;
         border: 4px solid greenyellow;
         border-radius: 70px;
         left: -480px;
         bottom: 40px;
         font-size: 15px;
         font-weight: bold;
         background-color: greenyellow;
         top: 60px;
        }


        .img1{
            position: relative;
           bottom: 400px;
           left: 30px;
            

       
        }
        .fot2 p{
            position: relative;
            bottom: 200px;
            color: white;
            left: 60px;
        }
        .fot2 img{
            width: 1590px;
            height: 1500px;
        }

        
        .main h2{
            position: relative;
            bottom: 500px;
            left: 380px;
            color: white;
        }

        .main p{
            position: relative;
            left: 380px;
            bottom: 500px;
            color: white;
        }
        .main h3{
            position: relative;
            left: 600px;
            bottom: 690px;
            color: white;
        }
        .para2{
            position: relative;
            left: 600px;
            bottom: 690px;
            color: white;
        }
    
    
    


@media only screen and (max-width:1000px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .main2 .my h1{
        left: 320px;
        color: green;
    }
    .main2 .my p{
       left: 270px;
        color: green;
    }
    .main2 .my img{
        flex-direction: column-reverse;
        right: -280px;
        bottom: -450px;
               
    }

    .btn2{
        position: relative;
         left: 130px;
         top: 600px;
         color: black;
         border: 4px solid greenyellow;
         border-radius: 70px;
         font-size: 15px;
         font-weight: bold;
         background-color: greenyellow;
    }  
    .ds{
        position: relative;
        height: 20px;
        width: 500px;
        top: 350px;
        background-color: yellow;
    }
    .vid{
        position: relative;
        right: 250px;
        top: 350px;
     }

     .box h2{
        top: 200px;
        right: 960px;
        position: relative;
        height: 20px;
        width: 350px;
        border-radius: 20px;
        background-color: yellow;
    } 
    .vid2{
        position: relative;
       right: 550px;
       top: 130px;
    }

     .gh{
        position: relative;
        top: 100px;
        height: 20px;
        width: 520px;
        border-radius: 20px;
        background-color: yellow;
    }
    .ak{
        position: relative;
        top: 80px;
        font-size: 40px;
        color: rgb(119, 235, 243);
    }
    .don{
        height: 400px;
        width: 700px;
       top: 30px;
        left:-10px ;
    }
    .fot p{
        position: relative;
        right: 450px;
        top: 40px;
        font-size: 20px;
    }
    .tr{
        position: relative;
        background-color: aquamarine;
        height: 900px;
        width: 1000px;
        
    }

    .tr h4{
        position: relative;
        height: 20px;
        width: 500px;
        left: 10px;
        border-radius: 20px;
        background-color: yellow;
    }

    .tr img{
        position: relative;
       left: -120px;
       top: -200px;
    }
    .btn3{
        position: relative;
         color: black;
         left: 100px;
         top: 200px;
         border: 4px solid greenyellow;
         border-radius: 70px;
         font-weight: bold;
         background-color: greenyellow;
        }

        .ty h5{
            height: 20px;
            width: 500px;
            border-radius: 20px;
            background-color: yellow;
            font-size: 20px;
        }

        .ty img{
            height: 250px;
            width: 500px;
            position: relative;
            left: 70px;
        }

        .btn4{
            position: relative;
             color: black;
             left: 150px;
             border: 4px solid greenyellow;
             border-radius: 70px;
             font-size: 15px;
             font-weight: bold;
             background-color: greenyellow;
             
            }

            .fot2 img{
                width: 920px;
                height: 1500px;
            }

         
           


    
    
    
}